
.content {
    width: 95%;
    max-width: 60rem;
    margin: var(--size-8) auto;
    font-size: var(--size-5);
    line-height: var(--size-8);
    background-color: var(--color-grey-100);
    border-radius: 6px;
    padding: var(--size-4);
}

.comments {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
  }
  
  .comments button {
    font: inherit;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #03be9f;
    border: 1px solid #03be9f;
    cursor: pointer;
  }
  
  .comments button:hover,
  .comments button:active {
    background-color: #dcfff9;
  }